
.App {
  text-align: center;
}
.theme_button{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--background-color);
  border: 0;
  border-radius: 20px;
  font-weight: 700;
}
.theme_button[data-dark=false]{
  background-color: rebeccapurple;
  color: var(--text-color);
}
.theme_button[data-dark=true]{
  background-color: rgb(201, 201, 201);
  color: var(--text-color);
}
button:hover{
  cursor: pointer;
}

.bar{
  color: var(--text-color);
}
.divider{
  background-color: var(--divider-color);
}
